DATABASE_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"
MONGODB_URI="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/residency"
JWT_SECRET="replace-with-32-byte-random-string"
ADMIN_EMAIL="admin@startupgarage.io"
ADMIN_PASSWORD="changeme"
